* {
    margin:500px;
    margin-top: 50px;
    
}
h2{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #fff;
}

p{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #fff;
}

body
{
    background-color: rgb(39, 41, 40, 0.801) !important;
    background-color: rgb(66, 67, 68) !important;
    background:
            -moz-radial-gradient(gray 5%, transparent 8%),
            -moz-radial-gradient(gray 5%, transparent 8%),
            rgba(0,0,0,0.7);
    background:
            -webkit-radial-gradient(gray 5%, transparent 8%),
            -webkit-radial-gradient(gray 5%, transparent 8%),
            rgba(0,0,0,0.7);

    background-position: 0 0, 80px 80px;

    -webkit-background-size:16px 16px;
    -moz-background-size:16px 16px;
    background-size:16px 16px;

}

.button {
    background-color: #88da36;
    width: 200%;
    border-radius:10px;
    
    
}

.form {
    margin-top: -335px;
    margin-right: 650px;
    margin-left: 100px;
}

h3{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #fff;

}

.naslov {
    color: #fff;
    margin: -80px;
    margin-top: 200px;
    margin-left: -400px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
}

.red {
    margin-bottom: 30px;
    background-color: grey;
    border-radius:10px;
}

.stupac {
    margin-bottom: 80px;
    background-color: grey;
    border-radius:10px;
}

.brojredaka{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #fff;
    font-size: 20px;
}

.brojstupaca {
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #fff;
    font-size: 20px;
}

td 
{
    text-align: center;
    width:50px;
    height: 50px;
    border: 1px solid white;
    background-color: rgb(39, 41, 40, 0.801);
    border-radius: 5px;
    
}

.tablica{
     
background-color: rgb(39, 41, 40, 0.801);
width:600px;
height: 400px;
empty-cells: hide;
position: relative;
left: 100px;
bottom: 650px;
color: rgb(39, 41, 40, 0.801);
border-spacing: 1px ;
color: white;
border-collapse: separate !important;
}

.output
{  
    font-size:32px;
    transform: rotate(-180deg);
    color: gray;
    writing-mode:tb-rl;
    position: relative;
    left: 555px;
    bottom: 420px;
}

.input{
    font-size:35px;
    transform: rotate(-180deg);
    color: gray;
    writing-mode:tb-rl;
    position: relative;
    left: 30px;
    bottom: 220px;
}

.funkcija {
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: gray;
    font-size: 20px;
    text-align: right;
    margin-right: -100px;
    position: relative;
    bottom: 150px;   
}

.pocetnapoz{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #fff;
    font-size: 20px;
}

select{
    border-radius:10px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    background-color: grey;
}

